.input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0.5rem;
    border: 0.06rem solid #84cf84;
}

.visor {
    width: 100%;
    height: 4.5rem;
    background-color: #c9fbc9;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: right;
}